/**
 * + Typo
 * =====================================================================
 */

$text
    // font-size font-size['normal']
    // line-height line-height['normal']

$text-normal
    @extends $text
    font-family font-family['primary']


$text-code
    @extends $text
    font-family font-family['monospace']

/* = Typo */
